body {
    background-color: #a9cfcc;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  .wrapper {
    width: 320px;
    background-color: #77618791;
    border: 2px solid #6c5280dd;
    border-radius: 20px;
    padding: 10px 30px;
    
  }
  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  .input-box input {
    width: 100%;
    height: 85%;
    background-color: #ffffff;
    border: none;
    outline: none;
    border: 1px solid #6C5280;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
  }
  .input-box input::placeholder {
    color: #808080;
  }
  .input-box i {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translate(-30%);
  }
  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
  }
  .remember-forgot a {
    color: #ffffff;
    text-decoration: none;
  }
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  .wrapper .btn {
    width: 100%;
    height: 50px;
    background: #6C5280;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }

  .wrapper .btn:hover {
    background: #453551;
  }

  a{
      text-decoration: none;
  }
  .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 25px 0 20px;
  }
  .wrapper  .inicio-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 25px 0 20px;
  }
  .inicio-link p a{
    color: #76c9c0;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a {
    color: #76c9c0;
    text-decoration: none;
    font-weight: 600;
  }
  .inicio-link p a:hover {
    text-decoration: underline;
  }
  .register-link p a:hover {
    text-decoration: underline;
  }
  .btn{
      cursor: pointer;
      font-size: 15px;
      text-decoration: none;
  }
  h1 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: #ffffff;
  }
  p2 {
    color: #ffffff;
  }
  a {
    color: #ffffff;
  }

  @media (max-width: 420px) {
    body {
      padding: 0;
      min-height: 100vh;
  }

  .wrapper {
      width: 97%;
      padding: 20px;
      box-sizing: border-box;
      align-items: center;
  }
    .wrapper h1 {
        font-size: 26px; 
    }

    .wrapper .input-box {
        height: 35px;
        margin: 15px 0; 
    }

    .input-box input {
        font-size: 13px; 
    }

    .wrapper .btn {
        height: 40px; 
        font-size: 14px; 
    }

    .wrapper .register-link,
    .wrapper .inicio-link {
        font-size: 13px; 
        margin: 15px 0; 
    }


}