*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.titulo {
    text-align: center; 
    margin-bottom: 30px; 
}

.container{
    width: 100%;
    display: flex;
    max-width: 2000px;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 20px; 
}

.card{
    width: 45%;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 450px;
}

.card .contenido{
    padding: 25px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    font-size:25px;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
    font-size:30px;
}

.titulo2 {
    font-size: 2.5rem;
    text-align: center; 
    padding: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.container-titulo{
    background-color: #B2E0D8;
}

.line-break{
    display: block;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .card{
        width: 48%;
    }
}

@media (max-width: 768px) {
    .card{
        width: 100%;
    }
    
    .titulo2 {
        font-size: 2rem;
    }

    .card img{
        height: 300px;
    }

    .card .contenido p{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .titulo2 {
        font-size: 1.8rem;
    }
    .card img{
        height: 250px;
    }
    .card .contenido h3{
        font-size: 20px;
    }
}